// Custom CSS for Parsley Helpers

//
// General Layout
//

// Body

html {
    height: 100%;
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //padding-top: 3.4rem; // for fixed navbar & 100% height
}





//
// Content Sections
//

@mixin content-section() {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px #ccc;
}

.section-default {
    @include content-section;
}

@mixin box() {
    padding: 1rem;
    border: solid 1px #ddd;
}

.form-section:not(:last-of-type) {
    //@include box;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #ddd;
    margin-bottom: 1rem;
}




// 
// Form controls
//

label {
    font-weight: bold;
    
    .radio > &, 
    .checkbox > & {
        font-weight: normal;
    }
}




//
// Parsley validation messages
//

.parsley-error {
    border-color: #cc0000;
    
    &:focus {
        border-color: #cc0000;
        //box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 83, 79, 0.6);
    }
}

.parsley-errors-list {
    list-style: none outside;
    padding: 5px 0;
    margin-bottom: 0;

    li {
        color: #cc0000; 
    }
}


//
// Utilities
// 

.hidden {
    display: none !important;
}

