/*
============================================================

    Custom CSS for Parsley Helpers

============================================================
*/

/*  Layout utilities
--------------------------------------*/

.hidden {
    display: none !important;
}


/*  Content sections
--------------------------------------*/

@mixin content-section() {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px #ccc;
}

.section-default {
    @include content-section;
}

.form-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #ddd;
    margin-bottom: 1rem;
    
    &:last-of-type {
        border-bottom: none;
    }

}

.bg-light {
    background-color: #f3f3f3;
}

.text-inverse-faded {
    color: #bbb;
}

.bg-inverse {
    
    a, 
    a:hover, 
    a:active, 
    a:focus {
        color: lighten(#0275d8, 25%);
    }
    
}


/*  Form controls
--------------------------------------*/

label {
    font-weight: bold;
    
    .radio > &, 
    .checkbox > & {
        font-weight: normal;
    }

}


/*  Parsley validation messages
--------------------------------------*/

/* The form field itself */

.parsley-error {
    
    &, 
    &:focus {
        border-color: #bb0000;
    }

}

/* The list of error messages, typically below the field */ 

.parsley-errors-list {
    list-style: none outside;
    padding: 5px 0;
    margin-bottom: 0;

    li {
        color: #a94442; 
    }

}
