/// Col-pad
//
// Un-pad or re-pad grid column content.
// These can be used on block elements nested inside grid columns.
// With direct-child trickery, col-unpad can also be used on actual grid columns. 

// Both sides

@mixin col-unpad($gutter: $grid-gutter-width) {
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
    
    .row > & {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin col-pad($gutter: $grid-gutter-width) {
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
}

// Just left or just right

@mixin col-unpad-left($gutter: $grid-gutter-width) {
    margin-left: -($gutter / 2);
    
    .row > & {
        margin-left: 0;
        padding-left: 0;
    }
}
@mixin col-unpad-right($gutter: $grid-gutter-width) {
    margin-right: -($gutter / 2);
    
    .row > & {
        margin-right: 0;
        padding-right: 0;
    }
}

@mixin col-pad-left($gutter: $grid-gutter-width) {
    padding-left: ($gutter / 2);
}
@mixin col-pad-right($gutter: $grid-gutter-width) {
    padding-right: ($gutter / 2);
}

// Form horizontal spacing
// Use these when containing form fields that need horizontal separation
// like they'd get if they were adjacent in a .form-inline.
// These should be used with the above, not instead.

@mixin hform-space() {
    
    &, .row > & {
        padding-left: $form-hspace-block;
        padding-right: $form-hspace-block;
    }
}
@mixin hform-space-left() {
    
    &, .row > & {
        padding-left: $form-hspace-block;
    }
}
@mixin hform-space-right() {
    
    &, .row > & {
        padding-right: $form-hspace-block;
    }
}



.col-pad {
    @include col-pad();
}
.col-pad-left {
    @include col-pad-left();
}
.col-pad-right {
    @include col-pad-right();
}
.col-unpad {
    @include col-unpad();
}
.col-unpad-left {
    @include col-unpad-left();
}
.col-unpad-right {
    @include col-unpad-right();
}

.hform-space {
    @include hform-space();
}
.hform-space-left {
    @include hform-space-left();
}
.hform-space-right {
    @include hform-space-right();
}

