/*
============================================================

    Custom CSS for Parsley Helpers

============================================================
*/
/*  Layout utilities
--------------------------------------*/
/**
 * ".hidden" is the only CSS class that's required for our display-toggle 
 * functions. Everything else below is demo-only, purely for visual appeal.
 * 
 * You can call this class whatever you like, and specify your preferred 
 * class name in `.parsley-helpers.js`.
 */
.hidden {
  display: none !important; }

/*  Content sections
--------------------------------------*/
.section-default {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #ccc; }

.form-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #ddd;
  margin-bottom: 1rem; }
  .form-section:last-of-type {
    border-bottom: none; }

/* Expanding on Bootstrap's visual theme classes */
.bg-light {
  background-color: #f3f3f3; }

.text-inverse-faded {
  color: #bbb; }

.link-inverse, .link-inverse:hover, .link-inverse:active, .link-inverse:focus {
  color: #5cb3fd; }

/*  Form controls
--------------------------------------*/
/**
 * Style most form labels with bold font, except for radio & checkbox text.
 */
label {
  font-weight: bold; }
  .radio > label, .checkbox > label {
    font-weight: normal; }

/*  Parsley validation messages
--------------------------------------*/
/**
 * The form field itself 
 */
.parsley-error, .parsley-error:focus {
  border-color: #bb0000; }

/**
 * The list of error messages, typically below the field
 */
.parsley-errors-list {
  list-style: none outside;
  padding: 5px 0;
  margin-bottom: 0; }
  .parsley-errors-list li {
    color: #a94442; }
